#main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#nav {
    display: flex;
    flex-direction: row;
    height: 6vh;
}
#row-menu {
    display: flex;
    flex-direction: row;
}

#body {
    display: flex;
    height: 94vh;
    margin-top: -15px;
    display: row; 
}


#dropdown-menu {
    display: none;
}

/*----------------------------------侧边栏--------------------------------*/
#sidebar-trigger {
    align-self: center;
    text-align: center;
    transform: translateY(-70px);
    height: 37px;
    width: 40px;
    background-color: white;
    border: solid 2px black;
    border-radius: 0;

}
#sidebar {
    width: 400px;
    color: white;
    background-color: black;
    animation-name: slide;
    animation-duration: .5s;
}

@keyframes slide {
    from { 
        margin-left: -400px;
     }
    to { 
        margin-left: 0;
        }
}


.slide-enter-active, .slide-leave-active {
    transition: margin-left .5s;
}
.slide-enter, .slide-leave-active {
    margin-left: -400px;
}


#introduction {
    position: relative;
    top: 50%;
    transform: translateY(-80%);
    margin: auto;
    text-align: center;
    animation-name: fade;
    animation-duration: .6s;
}
@keyframes fade {
    from { opacity: 0}
    50% { opacity: 0}
    to { opacity: 1}
}
#name {
    font-family: "Georgia";
}
#discription {
    font-family: "Trebuchet MS";
}
#avatar > img {
    border-radius: 50%;
    width: 150px;
}

a > .icon {
    font-size: 20px !important;
    color: lightgray !important;
}

.hide {
    display: none;
}


/*------------------------------------正文部分---------------------------------*/
#essays {
    width: 60%;
    height: 100%;
    margin: 20px auto;
}


